extends  ../layout
block content
    div.container.pt-5
        a(href='/usuarios/create').float-right.btn.btn-primary Nuevo usuario
        h1 usuarios
        br
        hr
        p.lead Listado de usuarios
        table.table.table-bordered.table-sm.table-hover
            thead
                tr
                    th(scope='col').text-center #
                    th(scope='col').text-center Nombre
                    th(scope='col') Email
                    th(scope='col') Verificado
                    th(scope='col')
            tbody
                each usuario in usuarios
                    tr
                        td.text-center=usuario.id
                        td.text-left=usuario.nombre
                        td.text-center=usuario.email
                        td.text-center=usuario.verificado
                        td.text-center
                            form(action=`/usuarios/delete/${usuario.id}` method='post').float-right
                                input#email(type='hidden' name='email' value=usuario.email)
                                button(type='submit').btn.btn-danger Eliminar
                            a(href=`/usuarios/${usuario.email}/update`).float-right.btn.btn-info.btn-sm.mr-2 Modificar
